{{- $destination := .Destination -}}
{{- $resourcePath := strings.TrimPrefix "./" (replaceRE `[#?].*$` "" $destination) -}}
{{- $resource := .Page.Resources.GetMatch $resourcePath -}}
{{- $href := $destination -}}
{{- if $resource -}}
  {{- $suffix := strings.TrimPrefix $resourcePath $destination -}}
  {{- if strings.HasSuffix $resourcePath ".md" -}}
    {{- $pageDir := replace .Page.File.Dir `\` "/" -}}
    {{- $bundle := strings.TrimSuffix "/" (strings.TrimPrefix "course/" $pageDir) -}}
    {{- $sourcePath := printf "authoring/sections/%s/%s" $bundle $resourcePath -}}
    {{- $href = printf "%s/blob/main/%s%s" site.Params.repositoryURL $sourcePath $suffix -}}
  {{- else if $resource.RelPermalink -}}
    {{- $href = printf "%s%s" $resource.RelPermalink $suffix -}}
  {{- end -}}
{{- else if strings.HasPrefix $destination "../../../" -}}
  {{- $repositoryPath := strings.TrimPrefix "../../../" $destination -}}
  {{- $view := cond (strings.HasSuffix $repositoryPath "/") "tree" "blob" -}}
  {{- $href = printf "%s/%s/main/%s" site.Params.repositoryURL $view $repositoryPath -}}
{{- else if strings.HasSuffix $resourcePath ".md" -}}
  {{- $contentPath := path.Clean (path.Join .Page.File.Dir $resourcePath) -}}
  {{- $pageRef := strings.TrimSuffix "/index.md" $contentPath -}}
  {{- with site.GetPage $pageRef -}}
    {{- $suffix := strings.TrimPrefix $resourcePath $destination -}}
    {{- $href = printf "%s%s" .RelPermalink $suffix -}}
  {{- end -}}
{{- end -}}
<a href="{{ $href | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
